.btn {
  border-radius: 12px;
  padding: 1rem;
}

.light-button {
  color: white;
  background-color: #3c485f;
  border-radius: 8px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 100%;
  border: 0.5px solid var(--white);
  text-transform: uppercase;

}


.light-button:hover {
  background-color: var(--primaryLight);
  color: white;
}

.home-button {
  color: white;
  background-color: var(--primary);

  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 100%;
  border: 0.5px solid var(--white);
  text-transform: uppercase;

}

.home-button:hover {
  background-color: #4f586b;
  color: white;
}

.next-button {
  // color: var(--white);
  font-weight: bold;
  background-color: var(--secondary);
  border-radius: 8px;
  margin-right: 2px;
  margin-top: 5px;
  margin-bottom: 5px;
  min-width: 100%;
  min-width: 100%;
  text-transform: uppercase;
}

.next-button:hover {
  background-color: var(--red);
  color: white;
}