@import "../../utils/colors.css";

.main-container {
  padding-top: 20vh;
  margin-left: 0;
  margin-right: 0;
}

.categories-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

