footer {
  background-color: var(--primaryLight);
  width: 100%;
  padding-top: 5vh;
  padding-bottom: 5vh;
  display: flex;
  min-height: var(--footer-height);
  margin-top:auto; 
}

p {
  text-transform: capitalize;
  font-family: 'Sen', sans-serif;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.border-right {
  -webkit-box-shadow: 2px 0px 0px -1px #ffffff;
  box-shadow: 2px 0px 0px -1px #ffffff;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}


@media screen and (max-width: 768px) {
  .border-right {
    -webkit-box-shadow: 0px 0px 0px 0px #ffffff;
    box-shadow: 0px 0px 0px 0px #ffffff;
  }
  .inner-footer-container {
    width: 100%;
    padding: 5%;
  }
  .container {
      padding-bottom: 5%;
  }
}
