.App {
    /* text-align: center; */
    /* background-color: #FADDCF; */
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #151B29;
    /* background-image: url(./img/paper.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: bottom; */
}

.App-header {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}