@import "./utils/colors.css";

.App {
  color: var(--white);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--primary);
}

.App-link {
  color: #61dafb;
}

.shape {
  background-image: radial-gradient(
    30% 30vh at 50% -5vh,
    var(--secondary) 75%,
    transparent 75%
  );
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mydiv {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.myHr {
  width: 30%;
  color: white;
  border-bottom: 1px solid gray;
}
