.vertical-line {
  width: 0%;
  height: 67%;
  top: 0;
  background: rgb(255, 255, 255);
  position: absolute;
  left: 50%;
  border: 0.5px solid rgb(255, 255, 255);
}

.circle {
  position: absolute;
  /* calculate the center of the page minus the half of own size */
  /* Firefox */
  left: -moz-calc(50% - (var(--circle-size) / 2));
  /* WebKit */
  left: -webkit-calc(50% - (var(--circle-size) / 2));
  /* Opera */
  left: -o-calc(50% - (var(--circle-size) / 2));
  /* Standard */
  left: calc(50% - (var(--circle-size) / 2));
  top: 60%;

  height: var(--circle-size);
  width: var(--circle-size);
  background-color: var(--white);
  border-radius: 50%;
  display: inline-block;
}

.triangle-base {
  position: absolute;
  /* calculate the center of the page minus the half of own size */
  /* Firefox */
  left: -moz-calc(50% - (var(--triangle-width)/2));
  /* WebKit */
  left: -webkit-calc(50% - (var(--triangle-width) / 2));
  /* Opera */
  left: -o-calc(50% - (var(--triangle-width) / 2));
  /* Standard */
  left: calc(50% - (var(--triangle-width) / 2));
}


.triangle-top {
  top: 65%;
}

.triangle-bottom {
  top: 66.5%;
}


@media screen and (max-width: 768px) {
  .line-container {
    display: none;
  }
}